<div class="footer-dark">
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li><a routerLink="home">Home</a></li>
                        <li><a href="#">Feed</a></li>
                        <li><a routerLink="videos">Videos</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>About</h3>
                    <ul>
                        <li><a>Company</a></li>
                        <li><a href="#">Terms and Condition</a></li>
                        <li><a >Careers</a></li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>SS Creations</h3>
                    <p>Style the way you want.The history of clothing in India dates back to ancient times, yet fashion is a new industry, as it was the traditional Indian clothing with regional variations, be it the sari, ghagra choli or dhoti, that remained popular until the early decades of post-independence India.</p>
                </div>
                <div class="col item social">
                    <a  target="_blank" style="background-color: #3b5998;"><i class="fab fa-facebook"></i>

                    </a>
                    <a  target="_blank" style="background-color: #ac2bac;" >
                        <i class="fab fa-instagram" ></i>
                    </a>
                    <a  target="_blank" style="background-color: #ed302f;">
                        <i class="fab fa-youtube" ></i>
                    </a>
                    <a  target="_blank" style="background-color: #0072b1;">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a
                        target="_blank" style="background-color: #55acee;"><i class="fab fa-twitter"></i>
                    </a>


                </div>
            </div>
            <p class="copyright">Fashion Brochure @2022</p>
        </div>
    </footer>
</div>