<!-- <div class="womenContainer">
    <div class="row">
        <div class="column" >
          <h2><img class="image" src="../../assets/W1.jpg"/></h2>
          <p>Some text..</p>
        </div>
        <div class="column"  >
          <h2><img src="../../assets/W1.jpg"/></h2>
          <p>Some text..</p>
        </div>
        <div class="column">
          <h2><img src="../../assets/W1.jpg"/></h2>
          <p>Some text..</p>
        </div>
      </div>
      <div class="row">
        <div class="column" >
          <h2><img src="../../assets/W1.jpg"/></h2>
          <p>Some text..</p>
        </div>
        <div class="column"  >
          <h2><img src="../../assets/W1.jpg"/></h2>
          <p>Some text..</p>
        </div>
        <div class="column">
          <h2><img src="../../assets/W1.jpg"/></h2>
          <p>Some text..</p>
        </div>
      </div>
      <div class="row">
        <div class="column" >
          <h2><img src="../../assets/W1.jpg"/></h2>
          <p>Some text..</p>
        </div>
        <div class="column"  >
          <h2><img src="../../assets/W1.jpg"/></h2>
          <p>Some text..</p>
        </div>
        <div class="column">
          <h2><img src="../../assets/W1.jpg"/></h2>
          <p>Some text..</p>
        </div>
      </div>
</div> -->
<div class="fashionContainer">
  <section class="section-top-image-slider">
      
          <div class="topImageSlider">
              <owl-carousel-o [options]="headerImageSlider">
  
                  <ng-container *ngFor="let slide of images">
                      <ng-template carouselSlide>
                          <img [src]="slide">
                      </ng-template>
                  </ng-container>
              </owl-carousel-o>
            </div>
  </section>
  </div>

 