.fashionContainer{
  margin: 40px;
  .section-top-image-slider {
      .topImageSlider {
          overflow: hidden;
          z-index: 1;
          img {
              position: relative;
              width: 100%;
              height: 78vh;
              object-fit: contain;
              //object-position: center;
              overflow: hidden;
              z-index: -1;
          }
      }
  }
 
  
}